html {
  scroll-behavior: smooth
}

input[type=checkbox] {
  width: 100%;
  height: 20px;
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-wrapper {
  overflow-x: auto;
}

td,
th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: black;
  color: #eee;
}

th:nth-child(1),
td:nth-child(1) {
  width: 30px;
}

td:nth-child(3) {
  font-style: italic;
}

/* ELEMENTS */

#arrow-up {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 3em;
  text-decoration: none;
  z-index: 9;
}

#sacuvaj {
  margin-bottom: 4px;
  display: inline-block;
}

#redovna-tabla td:nth-child(5)+td:nth-child(6),
#redovna-tabla td:nth-child(8)+td:nth-child(9),
#redovna-tabla td:nth-child(11)+td:nth-child(12),
table:not(#redovna-tabla) td:nth-child(6)+td:nth-child(7),
table:not(#redovna-tabla) td:nth-child(9)+td:nth-child(10),
table:not(#redovna-tabla) td:nth-child(12)+td:nth-child(13) {
  border-left: 2px solid #999;
}

td:nth-child(5),
td:nth-child(6),
#redovna-tabla td:nth-child(9),
#redovna-tabla td:nth-child(12),
table:not(#redovna-tabla) td:nth-child(7),
table:not(#redovna-tabla) td:nth-child(10),
table:not(#redovna-tabla) td:nth-child(13) {
  font-size: x-small;
}

td:nth-child(2),
#redovna-tabla td:nth-child(7),
#redovna-tabla td:nth-child(10),
#redovna-tabla td:nth-child(13),
table:not(#redovna-tabla) td:nth-child(8),
table:not(#redovna-tabla) td:nth-child(11),
table:not(#redovna-tabla) td:nth-child(14) {
  text-align: right;
  color: maroon;
}

th:nth-child(1) {
  font-style: italic;
}

th:nth-child(1),
#redovna-tabla th:nth-child(6),
#redovna-tabla th:nth-child(9),
#redovna-tabla th:nth-child(12),
table:not(#redovna-tabla) th:nth-child(7),
table:not(#redovna-tabla) th:nth-child(10),
table:not(#redovna-tabla) th:nth-child(13) {
  color: #ccc;
  font-size: small;
}

#redovna-tabla td:nth-child(5),
#redovna-tabla th:nth-child(5),
#redovna-tabla td:nth-child(6),
#redovna-tabla th:nth-child(6),
#redovna-tabla td:nth-child(9),
#redovna-tabla th:nth-child(9),
#redovna-tabla td:nth-child(12),
#redovna-tabla th:nth-child(12),
table:not(#redovna-tabla) td:nth-child(6),
table:not(#redovna-tabla) th:nth-child(6),
table:not(#redovna-tabla) td:nth-child(7),
table:not(#redovna-tabla) th:nth-child(7),
table:not(#redovna-tabla) td:nth-child(10),
table:not(#redovna-tabla) th:nth-child(10),
table:not(#redovna-tabla) td:nth-child(13),
table:not(#redovna-tabla) th:nth-child(13) {
  width: 60px;
}

#redovna-tabla td:nth-child(8),
#redovna-tabla td:nth-child(11),
#redovna-tabla td:nth-child(14),
table:not(#redovna-tabla) td:nth-child(9),
table:not(#redovna-tabla) td:nth-child(12),
table:not(#redovna-tabla) td:nth-child(15) {
  text-transform: uppercase;
}